/* ==UserStyle==
@name           my.exness.com
@namespace      github.com/openstyles/stylus
@version        1.0.2
@description    Exness custom style
@author         Raj
==/UserStyle== */

[data-test="account-info-trading-mode"] span {
    display: none !important;
}

[data-test="account-info-trading-mode"]::before {
    content: "Real" !important;
    color: #ffe535 !important;
}
